:root {
  /* --primary_color: #604C4A; */
  /* --primary_color: #CBBD93; */
  --primary_color: #A7947A;
  --secondary_color: #4D9193;
  --accent1_color: #3099EA;
  --accent2_color: #171717;
  
  --color_white: #ffffff;
  --color_black: #000000;

  --shadow_color: var(--color_black);
  --hover-color: blue;

  --transparent_secondary_color: rgba(77, 145, 147, .5);

  --heading_font: 'Nanum Brush Script', sans-serif;
  --text_font: 'Caveat', serif;
}

h1 {
  color: white;
  text-shadow: 4px 4px 6px var(--shadow_color);
  font-size: 52px;    
}

h2 {
  color: white;
  font-size: 48px;
  text-shadow: 4px 4px 6px var(--shadow_color);    
}

header {
  background: var(--accent1_color);
  color: var(--secondary_color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  width: 225px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;    
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;    
  list-style-type: none;
  margin: 0;
  padding: 0;        
}

nav li {
  width: 7rem;
  font-size: 26px;
  font-weight: 700;    
  text-shadow: 4px 4px 6px var(--shadow_color);
}

nav a:hover{
  color: var(--hover-color);
  text-shadow: 4px 4px 6px var(--color_white);
}

nav a{
  color: var(--color_white);
  text-decoration: none;        
}

body {
  font-family: var(--text_font);
  margin: 0;
  padding: 0;
  color: var(--accent2-color);
  background-color: var(--primary_color);
}

h1 {
  color: var(--color_white);
  text-align: center;

  margin: 0;    
}

h2 {
  color: var(--color_white);
  text-align: center;

  margin: 0;    
}

.image-with-caption{
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin: 25px;
  text-align: center;

  /* border: 2px dotted red; */
}

.image-with-caption img{
  width: 300px;
  border: 10px;
  border-radius: 10px;
}


.hero{
  color: var(--color_white);
}

.hero-flex-container{
  padding: 2rem;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px dashed green; */
}

/* .hero img{
  width: 300px;
  border: 10px;
  border-radius: 10px;
  
  margin-left: 50px;
} */

.hero p{
  max-width: 600px;
  text-shadow: 4px 4px 6px var(--shadow_color);
  text-align: center; 
  
  /* border: 2px dashed red; */
}

.history{
  color: var(--color_white);
  background: var(--accent2_color);

  text-align: center;
}

.history-flex-container{
  display: flex;
  align-content: space-around;
  justify-content: center;
  text-align: center;
  align-items: center;    
}

.history-flex-container p{    
  text-shadow: 4px 4px 6px var(--shadow_color);
  font-size: larger;
  margin: 2rem;          
}

/* .history-flex-container img{
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin: 25px;
} */

.adventure{
  color: var(--color_white);
}

.adventure-flex-container{
  display: flex;
  justify-content: center;    
  align-content: space-between;
  /* border: 2px dashed green; */
  margin: 3rem;
}

.adventure-item{
  font-size: 18px;
  border-radius: 10px;
  margin: 3px 3%;
  width: 15%;
  text-align: center;
  text-shadow: 4px 4px 6px var(--shadow_color);
}

.adventure-item img{ 
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: fill;   
}

footer {
  background: var(--accent2_color);
  color: var(--color_white);
  padding: 1rem;    
}

.footer-flex-container {
  /* border: 2px dashed yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.footer-copyright
{
  font-size: 20px;
  /* border: 2px dashed green; */
  justify-content: center;
}

.footer-social-media {
  /* border: 2px dashed red; */
  margin-left: auto;
  width: 128px;
  text-align: center;    
}

/* Ugly but works 
This is to allow center copyright*/
.footer-social-media-hidden {
  /* border: 2px dashed purple; */
  margin-right: auto;
  width: 128px;
}

.footer-social-media-item{
  /* border: 2px dashed orange; */
  width: 32px;
  margin-top: 5px; /* Ugly but works */
}

.footer-social-media-hidden a{
  color: var(--color_white);
  font-family: var(--text_font);
  font-size: 20px;
}

.rapid-adventures img{
  margin: 1rem auto;
  border-radius: 10px;
}

.rapid-adventures{
  text-align: center;
}

.our-team{
  color: var(--color_white);
}

.our-team-flex-container{
  display: flex;
  justify-content: center;    
  align-content: space-around;
  /* border: 2px dashed green; */
  margin: 3rem;  
}

.our-team-flex-container figure{
  font-size: 20px;
  /* border-radius: 10px; */
  margin: 3px 3%;
  width: 15%;
  text-align: center;
  text-shadow: 4px 4px 6px var(--shadow_color);
}

.our-team-flex-container img{
  border-radius: 10px;  
}

.contact-us{
  background: var(--accent2_color);
  color: var(--color_white); 
  font-size: 16px; 
  font-weight: 500;
}

.contact-us h2{
  text-align: center;
  color: white;
  padding-top: 20px;
}

.contact-us-grid-container{
  margin: auto;
  width: 70%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color_white)   
}

#map{
  text-align: center;  
}

form{
  width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: var(--accent1_color);
  display: grid;
}

fieldset{
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}

legend{
  padding: 0.5rem;
  color: var(--color_white);
  text-shadow: 4px 4px 6px var(--shadow_color);
  font-size: 1.3em;
}

label, input, button, select, textarea{
  color: var(--color_white);
  font-family: var(--text_font);
  font-size: 20px;
  text-shadow: 4px 4px 6px var(--shadow_color);
}

label{
  text-align: right;
  padding-right: 1rem;
}

input, select, textarea{
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="radio"]{
  margin: 10px auto;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

button{
  margin: 1rem;
  background-color: var(--accent2_color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 150px;       
}

.submit-controls{
  display: grid;
  grid-template-columns: 610px auto;
  align-items: center;
  padding-left: 10px;
}

#subscribe{
  width: 500px;
}

#message-label{
  text-align: left;
  margin-bottom: 10px;
}

#message-area{
  resize: none;
}

.form-item {
  display: grid;
  align-items:center;    
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 0.75fr 2.5fr;    
}

.column3{
  grid-template-columns: 0.5fr 2.5fr;    
}